.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.listItem {
  background-color: #ff7191;
  color: white;
  width: 80%;
  margin: 5px;
  padding: 0px 20px;
  border-radius: 15px;
  display: inline-block;
  text-align: left;
}

.main-product-details {
  display: flex;
  justify-content: space-between;
}

.main-product-details h3 {
  display: flex;
  align-items: center;
}

.light {
  font-weight: lighter;
  margin-right: 5px;
}

.inactive {
  opacity: 0.3;
}

.veg {
  background-color: #febf10;
}

.meat {
  background-color: #6c56c2;
}

.dairy {
  background-color: #56c2a2;
}
.dry-goods {
  background-color: #ffa031;
}
.spices-and-seasonings {
  background-color: #31b5ff;
}
.bakery {
  background-color: #ff6060;
}
.sauces {
  background-color: #bababa;
}
.tinned {
  background-color: #149b3a;
}
.drinks {
  background-color: #e392ff;
}
